<% _.each(arguments[0], function (group) { %>
<% console.log(group); %>
<div class="group box_shadow" id="group-<%= group._id %>">
	<div class="content">
		<h1 class="header">
			<i class="icon-trash" rel="tooltipTop" title="Leave Group"></i>
			<div class="header-text"><%= group.name %></div>
			<div class="visibility"><%= group.visibility %></div>
		</h1>
		<div class="body">
			<span class="body-text">
				<%= group.desc %>
			</span>
		</div>
		<div class="footer">
		</div>
	</div>
</div>
<% }); %>
