@import 'mixins.less';
@import 'colors.less';

body {
  background: url(../assets/bg.png);
}
.navbar {

  .navbar-inner {
    .container-fluid {
      margin: 0 auto;
      width: 70%;
      .brand {
        color: white;
      }
      .nav{
        a {
          color: white;
          .blue();
          &:hover, &:active {
            .blue();
          }
        }
        .search-query {
          margin: 6px
          width: 75px;
        }
      }
    }
    .blue();
  }
}

.icon {
  width: 30px;
  height: 30px;
}

#content {
  margin: 0 auto;
  background-color: rgba(100,100,100,.1);
  .round(10px);
  width: 70%;
}

#sideBar {
  position: fixed;
  top: 150px;
  left: 250px;

  button {
    display: block;
    text-align: center;
    padding: 5px;
    border: solid 1px #B7B7B7;

    .round(0.5em);
    .shadow(0, 1px, 2px, rgba(0,0,0,0.2));

    &:active {
      position: relative;
      top: 1px;
    }
  }


}

#main {
  float: right;
  min-height: 500px;
  .navbar, .sheet {
    border: 1px solid #DDD;
    background-color: #F0F0F0;
    padding: 10px;
  }
  .navbar {
    margin: 10px 0;

    input[type=text] {
      margin: 0;
    }
    a.navlink {
      padding: 10px;
    }
  }

  .sheet {
    display: none;
    height: 500px;
  }
}


#prompts-container {
  overflow-y: scroll;
}

#detail-container {
}

#prefs-container {
}

footer {
  text-align: center;
}
