@import 'mixins.less';
@import 'colors.less';

html, body, #doc{
  height: 100%;
}

body {
  height: 800px;
}
#page-outer {
  background: url(../assets/bg.png);
}

#page {
  position: relative;
  width: 837px;
  min-height: 100%;
  padding: 45px 0 15px;
  margin: 0 auto;
}

.wrapper {

}