@import 'mixins.less';
@import 'colors.less';

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	background: url(../assets/bg.png);
}

.navbar {
	.navbar-inner {
		.container-fluid {
			margin: 0 auto;
			width: 55%;
			.brand {
				color: white;
			}
			.nav{
				a {
					color: white;
					.blue();
					&:hover, &:active {
						.blue();
					}
				}
			}
			ul {
				font-size: 15px;
			}
			.icon-cog {
				font-size: 22px;
				line-height: 14px;
				vertical-align: bottom;
			}

			.dropdown-menu {
				font-size: 13px;
			}
		}
		.blue();
	}
}

.icon {
	width: 30px;
	height: 30px;
}

#content, #content .row-fluid, #main, #prompts-container, #prompts {
	height: 100%;
}

#content {
	margin: 0 auto;
	background-color: rgba(100,100,100,.1);
	width: 55%;
}

#sideBar {
	position: absolute;
	top: 20%;
	left: 25%;

	button {
		display: block;
		text-align: center;
		padding-top: 10px;
		margin-top: 15px;
		border: solid 1px #B7B7B7;
		width: 45px;
		height: 45px;

		.round(0.5em);
		.shadow(0, 1px, 2px, rgba(0,0,0,0.2));

		i {
			font-size: 24px;
			line-height: 21px;
		}
	}
}

#main {
	margin-top: 20px;
	float: right;

	.navbar {
		margin-bottom: 10px;
		padding: 10px;
		color: black;
		border: 1px solid #CCC;
    width: 96%;
    .white();
    .round(5px);

		i {
			float:left;
			font-size: 24px;
			margin-left: 15px;
			margin-top: 6px;
		}

		.search-query {
			float:left;
		}

		input[type=text] {
			margin: 0;
		}

		a.navlink {
			padding: 10px;
		}

		.divider-vertical {
			float:left;
			margin-left: 20px;
			margin-right: 0px;
			height: 30px;
			color: #CCC;
			background-color: #CCC;
			border-right: 1px solid white
		}

	}

	.sheet {
		display: none;
		margin-bottom: 10px;
		min-height: 60%;
	}
}


#prompts-container {
}
#prompts {
	overflow-y: scroll;
	position: relative;
}

#detail-container {
}

#prefs-container {
}

#subscribed-container {
  overflow-y: scroll;
  position: relative;
}

#join-container {

}

#invites-container {

}

.prompt {
	position: absolute;
	width: 94%;
	border: 1px solid #CCC;
	.shadow(1px, 1px, 4px, rgba(0, 0, 0, 0.1));
	.round(5px);
	background-color: #EEE;
	margin-top: 10px;

	.header, .body, .footer {
		padding: 5px 10px;
	}
	.header {
		.priority {
			width: 20px;
			height: 20px;
			float: left;
			margin: 10px 10px 10px 0px;
		}

		.priority[priority="0"] {
			.statechange(@p0);
		 }
		.priority[priority="1"] {
			.statechange(@p1);
		 }
		.priority[priority="2"] {
			.statechange(@p2);
		 }
		.priority[priority="3"] {
			.statechange(@p3);
		 }
	}

	.body {
		border-bottom: 1px solid #DDD;
	}
	.footer {
		border-top: 1px solid #FFF;
		.tag {
      .blueButton();
		}
	}
}

footer {
  text-align: center;
}
