extends layout

block content
  #doc
    .navbar.navbar-fixed-top
      #global-nav.navbar-inner
        .container
          a.brand(href='#') promptu

          ul.nav
            li#brand
            li#home
              a(href='#') home
            li#tasks
              a(href='#') tasks
            li#groups
              a(href='#') groups

          ul.nav.pull-right
            li#prefs
              a.dropdown-toggle(href='#',data-toggle="dropdown")
                | prefs
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') item
                li
                  a(href='#') item
                li.divider
                li
                  a(href='#') item

    #page-outer
      #page
        .row.span12
          .span3
            | aseutsnahoeusntoaehusaonetuhoe
            | asonteuhsaontehuasonetuh
          .span8
            | aoeutsnahoeusntoaehusaonetuhoe
            | aoeutsnahoeusntoaehusaonetuhoe