extends layout

block content
	.navbar.navbar-fixed-top.center
		.navbar-inner
			.container-fluid
				a.brand(href="#") promptu

				.btn-group.pull-right
					a.btn.dropdown-toggle(data-toggle="dropdown",href="#")
						i.icon-user
						| Preferences
						span.caret

					ul.dropdown-menu
						li: a(href="#") Profile
						li: a(href="#") Setting 1
						li: a(href="#") Setting 2
						li: a(href="#") Setting 3
						li.divider
						li: a(href="#") Sign Out

				ul.nav
					li.active: a(href="#") My Prompts
					li: a(href="#") Subscribed Groups
					li: a(href="#") Owned Groups
					li
						input.search-query(type="text", placeholder="Search")
						i(class="icon-search")


	#content.container-fluid
		.row-fluid
			div#sideBar.span1
				button.white(rel="tooltip",title="Filter by pinned")
					i.icon-search
				button.white(rel="tooltip",title="Filter by date due")
					i.icon-search
				button.white(rel="tooltip",title="Filter by priority")
					i.icon-search
				button.white(rel="tooltip",title="Filter by group")
					i.icon-search
				button.white(rel="tooltip",title="Filter by completion")
					i.icon-search

			div#main.span8.pull-right
				.navbar
					.container
						input.search-query(type="text", placeholder="Search")
						a.navlink(href="#") Home
						a.navlink(href="#detail/1") Detail
						a.navlink(href="#prefs") Prefs

				#prompts-container.sheet
				#detail-container.sheet
				#prefs-container.sheet