extends layout

block content
	.navbar.navbar-fixed-top.center
		.navbar-inner
			.container-fluid
				a.brand(href="#") promptu
				ul.nav
					li.active: a(href="#") Prompts
					li: a(href="#detail/1") Groups

				.btn-group.pull-right
					a.btn(href="#prefs")
						i.icon-cog
					button.btn.dropdown-toggle(data-toggle="dropdown")
						span.caret
					ul.dropdown-menu
						li: a(href="#") Profile
						li: a(href="#") Setting 1
						li: a(href="#") Setting 2
						li: a(href="#") Setting 3
						li.divider
						li: a(href="#") Sign Out

	#content.container-fluid
		.row-fluid
			div#sideBar.span1
				button.white(rel="tooltipLeft",title="Filter by Pinned")
					i.icon-pushpin
				button.white(rel="tooltipLeft",title="Filter by Date Due")
					i.icon-calendar
				button.white(rel="tooltipLeft",title="Filter by Priority")
					i.icon-exclamation-sign
				button.white(rel="tooltipLeft",title="Filter by Group")
					i.icon-group
				button.white(rel="tooltipLeft",title="Filter by Completion")
					i.icon-check

			div#main.span10.pull-right
				.navbar
					.container
						input.search-query(type="text", placeholder="Search")
						i.byheader.icon-time(rel="tooltipTop",title="Sort by Date Due")
						i.bypriority.icon-exclamation-sign(rel="tooltipTop",title="Sort by Priority")
						i.icon-random(rel="tooltipTop",title="Filter by Random")

				#prompts-container.sheet
				#detail-container.sheet
				#prefs-container.sheet