extends layout

block content
  .navbar.navbar-fixed-top.center
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse",data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.brand(href="#") promptu

        .btn-group.pull-right
          a.btn.dropdown-toggle(data-toggle="dropdown",href="#")
            i.icon-user
            | Preferences
            span.caret

          ul.dropdown-menu
            li: a(href="#") Profile
            li: a(href="#") Setting 1
            li: a(href="#") Setting 2
            li: a(href="#") Setting 3
            li.divider
            li: a(href="#") Sign Out

        .nav-collapse
          ul.nav
            li.active: a(href="#") My Prompts
            li: a(href="#") Subscribed Groups
            li: a(href="#") Owned Groups 
            li: i(class="icon-search")

  #content.container-fluid
    .row-fluid
      div#sideBar.span1
        p
          button(rel="tooltip",title="Filter by pinned").buttonStyle.white
            i.icon-search
        p
          button(rel="tooltip",title="Filter by date due").buttonStyle.white
            i.icon-search
        p
          button(rel="tooltip",title="Filter by priority").buttonStyle.white
            i.icon-search
        p
          button(rel="tooltip",title="Filter by group").buttonStyle.white
            i.icon-search
        p
          button(rel="tooltip",title="Filter by completion").buttonStyle.white
            i.icon-search
      div#notifs.span5
        .navbar
          .navbar-inner
            .container-fluid
              a.btn.btn-navbar(data-toggle="collapse",data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar

              form.nav-search.pull-left
                input.search-query(type="text", placeholder="Search")
