extends layout

block content
	.navbar.navbar-fixed-top.center
		.navbar-inner
			.container-fluid
				a.brand(href="#") promptu
				ul.nav
					li: a(href="#") Prompts
					li.active: a(href="#detail/1") Groups

				.btn-group.pull-right
					a.btn(href="#prefs")
						i.icon-cog
					button.btn.dropdown-toggle(data-toggle="dropdown")
						span.caret
					ul.dropdown-menu
						li: a(href="#") Profile
						li: a(href="#") Setting 1
						li: a(href="#") Setting 2
						li: a(href="#") Setting 3
						li.divider
						li: a(href="#") Sign Out

	#content.container-fluid
		.row-fluid
			div#sideBar.span1
				button.white(rel="tooltipLeft",title="Subscribed Groups")
					i.icon-list-ul
				button.white(rel="tooltipLeft",title="Join a Group")
					i.icon-plus
				button.white(rel="tooltipLeft",title="Group Invites")
					i.icon-envelope

			div#main.span10.pull-right
				.navbar
					.container
						input.search-query(type="text", placeholder="Search")
						div.divider-vertical
						i.icon-font(rel="tooltipTop",title="Sort by Name")
						i.icon-time(rel="tooltipTop",title="Sort by Priority")
